Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2020-10, with the labels that each got.

#158 Set CSI controller sidecar containers timeout
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-driver-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
Labels: needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm

#159 Enhance chart options
  Dockerfile
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  charts/gardener-extension-provider-openstack/templates/vpa.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  example/controller-registration.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs

#161 Add k8s 1.19 conformance tests (testgrid) links
  README.md
Labels: kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs

#162 Add "SKIP_FETCH_TOOLS=1" to make test
  Makefile
  pkg/controller/worker/helper.go
  pkg/controller/worker/machine_dependencies.go
  pkg/controller/worker/machines_test.go
Labels: area/dev-productivity, kind/task, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/s

#160 added nodeVolumeAttachLimit
  charts/internal/cloud-provider-config/templates/cloud-provider-disk-config-csi.yaml
  charts/internal/cloud-provider-config/values.yaml
  docs/usage-as-operator.md
  hack/api-reference/api.md
  pkg/apis/openstack/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/openstack/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/robustness, area/storage, kind/api-change, kind/enhancement, needs/changes, needs/ok-to-test, needs/second-opinion, platform/openstack, priority/normal, size/s, status/author-action

#165 Add useSNAT option to CloudProfile
  charts/internal/openstack-infra/templates/main.tf
  charts/internal/openstack-infra/values.yaml
  docs/usage-as-operator.md
  hack/api-reference/api.md
  pkg/apis/openstack/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/openstack/zz_generated.deepcopy.go
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/s

#166 add priority class for extension pods
  charts/gardener-extension-provider-openstack/templates/_helpers.tpl
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  charts/gardener-extension-provider-openstack/templates/priorityclass.yaml
  example/controller-registration.yaml
Labels: area/high-availability, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs

#168 Do no longer ignore deprecated item usage
  .golangci.yaml
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs
