Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2020-12, with the labels that each got.

#186 Worker/update credentials for all deployments
  .github/pull_request_template.md
  go.mod
  go.sum
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_migrate.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/actuator_restore.go
  pkg/controller/worker/machine_controller_manager.go
  pkg/internal/infrastructure/terraform.go
  pkg/internal/terraform.go
  test/e2e/networkpolicies/networkpolicy_test.go
  vendor/github.com/gardener/gardener/.github/pull_request_template.md
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_delete.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/interface.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/config.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/errors.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/state.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/terraformer.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/types.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/waiter.go
  vendor/github.com/gardener/gardener/extensions/test/e2e/framework/networkpolicies/agnostic.go
  vendor/github.com/gardener/gardener/hack/.ci/set_dependency_version
  vendor/github.com/gardener/gardener/pkg/operation/botanist/addons.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/botanist.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/cleanup.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/interfaces.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/containerruntime.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/clusterautoscaler/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/etcd/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/etcd/etcd.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/containerruntime/containerruntime.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/controlplane/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/health_check.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/systemcomponents/metricsserver/metrics_server.go
  vendor/github.com/gardener/gardener/pkg/operation/common/extensions.go
  vendor/github.com/gardener/gardener/pkg/operation/garden/garden.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/types.go
  vendor/github.com/gardener/gardener/pkg/operation/types.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/health.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/patch.go
  vendor/github.com/gardener/gardener/test/framework/common.go
  vendor/github.com/gardener/gardener/test/framework/dump.go
  vendor/github.com/gardener/gardener/test/framework/shoot_utils.go
  vendor/github.com/gardener/gardener/test/framework/shootframework.go
  vendor/modules.txt
Labels: needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/s

#184 Remove deprecated role label key from components
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  test/e2e/netpol-gen/app/openstack.go
  test/e2e/networkpolicies/networkpolicy_test.go
Labels: kind/cleanup, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/s

#190 Terraformer v2
  charts/images.yaml
  pkg/internal/terraform.go
Labels: area/quality, area/robustness, kind/enhancement, kind/test, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs

#189 Update CSI driver and sidecar images
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-driver-controller.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs

#170 add servergroup for workerpools
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
  hack/api-reference/api.md
  pkg/apis/openstack/helper/scheme.go
  pkg/apis/openstack/register.go
  pkg/apis/openstack/types_cloudprofile.go
  pkg/apis/openstack/types_worker.go
  pkg/apis/openstack/v1alpha1/register.go
  pkg/apis/openstack/v1alpha1/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/types_worker.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/openstack/validation/cloudprofile.go
  pkg/apis/openstack/validation/cloudprofile_test.go
  pkg/apis/openstack/validation/shoot.go
  pkg/apis/openstack/validation/shoot_test.go
  pkg/apis/openstack/zz_generated.deepcopy.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/helper.go
  pkg/controller/worker/machine_dependencies.go
  pkg/controller/worker/machine_dependencies_test.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/controller/worker/server_groups.go
  pkg/openstack/client/client.go
  pkg/openstack/client/compute.go
  pkg/openstack/client/mocks/client_mocks.go
  pkg/openstack/client/swift.go
  pkg/openstack/client/types.go
  pkg/validator/shoot_validator.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/servergroups/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/servergroups/microversions.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/servergroups/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/servergroups/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/servergroups/urls.go
  vendor/modules.txt
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/openstack, priority/normal, reviewed/do-not-merge, size/xl

#191 Vendor gardener/gardener@v1.14.0
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/logger/logger.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/addons.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/botanist.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/etcd/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/garbage_collection.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/health_check.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/namespaces.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/secrets.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/seedsystemcomponents/seedadmission/logging.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/seedsystemcomponents/seedadmission/seedadmission.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/systemcomponents/namespaces/namespaces.go
  vendor/github.com/gardener/gardener/pkg/operation/common/managedresources.go
  vendor/github.com/gardener/gardener/pkg/operation/common/types.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/istio/crds.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/types.go
  vendor/github.com/gardener/gardener/pkg/utils/timewindow.go
  vendor/github.com/gardener/gardener/test/framework/shoot_utils.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/xs

#193 Update kubernetes-csi/external-snapshotter to v2.1.3
  charts/images.yaml
Labels: area/storage, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#194 Fix occm version for Kubernetes >= 1.18
  charts/images.yaml
Labels: kind/bug, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs

#195 get missing auth_aul from cloudprofile
  pkg/controller/worker/actuator.go
  pkg/openstack/client/client.go
  pkg/openstack/client/swift.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs

#196 [release-v1.14] get missing auth_aul from cloudprofile
  pkg/controller/worker/actuator.go
  pkg/openstack/client/client.go
  pkg/openstack/client/swift.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs

#198 Vendor gardener/gardener@f6b4e24
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/backupentry/mapper.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cmd/factory.go
  vendor/github.com/gardener/gardener/hack/install-requirements.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/etcd/logging.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/namespaces.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/seedsystemcomponents/seedadmission/logging.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/graph.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/bootstrap_token.go
  vendor/github.com/gardener/gardener/test/framework/common.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/xs
