Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2020-07, with the labels that each got.

#118 [ci:component:github.com/gardener/machine-controller-manager:v0.31.0->v0.32.0]
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm

#119 StorageClasses now allow volume expansion
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm

#115 Adapt the extension to Loki
  charts/gardener-extension-provider-openstack/templates/configmap-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm
