Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2020-09, with the labels that each got.

#136 Cleanup make test
  Makefile
Labels: kind/cleanup, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm

#135 Support for Kubernetes 1.19
  README.md
  charts/images.yaml
  charts/internal/cloud-provider-config/templates/cloud-provider-disk-config.yaml
  charts/internal/cloud-provider-config/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-driver-controller.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-attacher.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-provisioner.yaml
  docs/usage-as-operator.md
  hack/api-reference/api.md
  pkg/apis/openstack/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/openstack/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/open-source, area/usability, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#137 Change volumeBindingMode to WaitForFirstConsumer
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
Labels: area/storage, kind/task, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm

#138 Updated RBAC to allow node/status update by MCM
  charts/internal/machine-controller-manager/shoot/templates/clusterrole-machine-controller-manager.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm

#140 Use WaitForFirstConsumer also for CSI StorageClasses
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
Labels: area/storage, kind/task, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm

#141 Webhook ensurer does not remove or add /etc/ssl directory for kube apiserver deployments
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm

#142 Fix volume fsType handling for CSI volumes
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-driver-controller.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm

#143 Adapt csi-driver-node PSP
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm

#145 Use separate Secret for csi-driver-controller
  charts/internal/cloud-provider-config/templates/cloud-provider-disk-config-csi.yaml
  charts/internal/cloud-provider-config/templates/cloud-provider-disk-config.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-driver-controller.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/openstack/types.go
  pkg/webhook/controlplane/ensurer.go
Labels: area/storage, kind/bug, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm

#146 Clean up the deletion of legacy cloud provider ConfigMaps
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm

#147 Ensure that shoot kube-apiserver has no incompatible mount of usr/share/ca-certificates
  README.md
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm

#151 add minAllowed for machine-controller-manager-vpa
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
Labels: area/auto-scaling, area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm
