Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2021-12, with the labels that each got.

#361 Remove OpenstackMachineclass cleanup
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#350 Upgrade terraformer to v2.13.0, a version that uses terraform 0.13
  charts/images.yaml
  pkg/controller/infrastructure/actuator_delete.go
  pkg/internal/infrastructure/templates/main.tpl.tf
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#368 Remove the "garden.sapcloud.io/role" label from control plane components
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-driver-controller.yaml
Labels: kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs
