Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2021-08, with the labels that each got.

#317 Deploy shoots in existing Neutron networks
  charts/internal/machineclass/templates/machineclass.yaml
  docs/usage-as-end-user.md
  go.mod
  hack/api-reference/api.md
  pkg/apis/openstack/types_infrastructure.go
  pkg/apis/openstack/v1alpha1/types_infrastructure.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/openstack/validation/infrastructure.go
  pkg/apis/openstack/validation/infrastructure_test.go
  pkg/apis/openstack/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  test/integration/infrastructure/infrastructure_test.go
  vendor/modules.txt
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/openstack, size/m

#322 Add option ignoreVolumeAZ to allow for differences between volume and compute AZ names
  charts/internal/cloud-provider-config/templates/cloud-provider-disk-config-csi.yaml
  charts/internal/cloud-provider-config/values.yaml
  docs/usage-as-operator.md
  hack/api-reference/api.md
  pkg/apis/openstack/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/openstack/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, area/storage, kind/api-change, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s, merge/squash

#327 Add Kubernetes v1.21 conformance badge
  README.md
Labels: needs/ok-to-test

#331 Stop using `github.com/pkg/errors`
  go.mod
  pkg/apis/openstack/helper/scheme.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/helper.go
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplaneexposure/ensurer.go
  test/tm/generator.go
  vendor/modules.txt
Labels: kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s
