Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2021-01, with the labels that each got.

#199 Use occm@v1.19 for Kubernetes >= 1.19
  charts/images.yaml
Labels: needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs

#203 Use provider-specific terraformer image
  charts/images.yaml
Labels: area/cost, area/performance, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs

#204 Only validate infra/controlPlane config against CloudProfile on change
  pkg/apis/openstack/validation/controlplane.go
  pkg/apis/openstack/validation/controlplane_test.go
  pkg/apis/openstack/validation/infrastructure.go
  pkg/apis/openstack/validation/infrastructure_test.go
  pkg/validator/serialization.go
  pkg/validator/shoot_validator.go
Labels: area/usability, kind/api-change, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/m

#205 Use cinder-csi-plugin@v1.20.0 for Kubernetes >= 1.20
  charts/images.yaml
Labels: area/storage, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#200 Add cloudprovider webhook to add auth_url from cloudprofile
  pkg/cmd/options.go
  pkg/webhook/cloudprovider/add.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/cloudprovider/ensurer_test.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cloudprovider/cloudprovider.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cloudprovider/mutator.go
  vendor/modules.txt
Labels: area/control-plane, kind/enhancement, needs/changes, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/m

#209 Add k8s 1.20 conformance tests (testgrid) links
  README.md
Labels: area/testing, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs

#208 Use occm@v1.20 for Kubernetes >= 1.20
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#210 Change ValidatingWebhookConfiguration to v1
  charts/gardener-extension-validator-openstack/charts/application/templates/validatingwebhook-validator.yaml
  example/40-validatingwebhookconfiguration.yaml
  example/validator-openstack-certs/tls.crt
  example/validator-openstack-certs/tls.key
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/m

#212 remove server group update validation
  docs/usage-as-end-user.md
  pkg/apis/openstack/validation/shoot.go
  pkg/apis/openstack/validation/shoot_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, priority/normal, size/m

#213 fix secret key
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/cloudprovider/ensurer_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs

#216 set revisionHistoryLimit to 1 for deployments
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  charts/gardener-extension-validator-openstack/charts/runtime/templates/deployment.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-driver-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-snapshot-controller.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, priority/normal, size/xs
