Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2021-09, with the labels that each got.

#330 Support for Kubernetes 1.22
  .gitignore
  README.md
  charts/images.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/charts/utils-tls-cipher-suites
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_helpers.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/csidriver.yaml
  charts/internal/utils-tls-cipher-suites/Chart.yaml
  charts/internal/utils-tls-cipher-suites/templates/_tls_cipher_suites.tpl
  go.mod
  go.sum
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  test/e2e/networkpolicies/networkpolicy_test.go
  vendor/github.com/gardener/gardener/charts/images.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/controlplane/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/machine_crds.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/alicloudmachineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/awsmachineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/azuremachineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/gcpmachineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/machineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/machinedeployments.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/machines.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/machinesets.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/openstackmachineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/templates/packetmachineclasses.tpl.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cmd/options.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/registration.go
  vendor/github.com/gardener/gardener/extensions/test/e2e/framework/networkpolicies/agnostic.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/applier.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/client.go
  vendor/github.com/gardener/gardener/pkg/controllerutils/miscellaneous.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/etcd/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/etcd/etcd.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/cliflags.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/component.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/kubecontrollermanager/waiter.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/monitoring/prometheus.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/progress_reporter_delaying.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/featuregates.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/tls_cipher_suites.go
  vendor/github.com/gardener/gardener/pkg/utils/version/version.go
  vendor/modules.txt
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, kind/test, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xl, topology/garden, topology/seed, topology/shoot, priority/3

#334 Make the linter fail on missing or wrong doc comments
  .golangci.yaml
  pkg/admission/validator/webhook.go
  pkg/apis/openstack/types_cloudprofile.go
  pkg/apis/openstack/types_worker.go
  pkg/apis/openstack/v1alpha1/types_worker.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/worker/machine_dependencies_test.go
  pkg/internal/terraform.go
  pkg/openstack/client/compute.go
  pkg/openstack/types.go
  test/tm/generator.go
Labels: area/dev-productivity, area/quality, kind/api-change, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#336 Remove port ranges from security group rules
  pkg/internal/infrastructure/templates/main.tpl.tf
Labels: area/control-plane, kind/regression, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#338 re-introduce request-timeouts for ccm
  charts/internal/cloud-provider-config/templates/_cloud-provider-config-loadbalancer.tpl
  charts/internal/cloud-provider-config/templates/_cloud-provider-config-meta.tpl
  charts/internal/cloud-provider-config/templates/cloud-provider-config.yaml
  charts/internal/cloud-provider-config/values.yaml
  hack/api-reference/api.md
  pkg/apis/openstack/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/openstack/validation/cloudprofile.go
  pkg/apis/openstack/validation/cloudprofile_test.go
  pkg/apis/openstack/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/openstack/client/client.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s
