Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2022-11, with the labels that each got.

#509 Update API Core version in examples to core.gardener.cloud/v1beta1
  README.md
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
  example/30-controlplane.yaml
  example/30-dnsrecord.yaml
  example/30-infrastructure.yaml
  example/30-worker.yaml
Labels: area/usability, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/s

#510 Cleanup scheduler.alpha.kubernetes.io/critical-pod annotations
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
Labels: area/open-source, kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#511 allow passthrough of worker labels to VM metadata
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/s

#508 Add cve categorizations/runtime contexts
  charts/images.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/m

#504 support switching of network overlay mode
  charts/gardener-extension-admission-openstack/charts/application/templates/mutatingwebhook-mutator.yaml
  charts/gardener-extension-admission-openstack/charts/application/templates/rbac.yaml
  charts/internal/cloud-provider-config/templates/_cloud-provider-config-route.tpl
  charts/internal/cloud-provider-config/templates/cloud-provider-config.yaml
  charts/internal/cloud-provider-config/values.yaml
  docs/usage-as-end-user.md
  example/50-mutatingwebhookconfiguration.yaml
  go.mod
  go.sum
  pkg/admission/cmd/options.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/webhook.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  vendor/github.com/gardener/gardener-extension-networking-calico/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/types.go
  vendor/modules.txt
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, platform/openstack, size/m, status/on-hold

#514 delete infrastructure routes in case ccm is not there
  pkg/controller/infrastructure/actuator_delete.go
  pkg/internal/infrastructure/infrastucture.go
  pkg/openstack/client/mocks/client_mocks.go
  pkg/openstack/client/networking.go
  pkg/openstack/client/types.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/m

#518 Do not fail a request for a Shoot from the core.gardener.cloud/v1alpha1 API
  charts/gardener-extension-admission-openstack/charts/application/templates/mutatingwebhook-mutator.yaml
  charts/gardener-extension-admission-openstack/charts/application/templates/rbac.yaml
  example/50-mutatingwebhookconfiguration.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, platform/openstack, reviewed/lgtm, size/xs

#519 remove < 1.20 images
  charts/images.yaml
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#522 [release-v1.30] Automated cherry pick of #521: do not configure cloud routes if overlay is used
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/m

#524 mutating webhook respects shoot deletion, restore and migration
  pkg/admission/mutator/mutator_suite_test.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/m

#527 delete infrastructure routes in case ccm is not there
  pkg/controller/infrastructure/actuator_delete.go
  pkg/internal/infrastructure/infrastucture.go
  pkg/openstack/client/mocks/client_mocks.go
  pkg/openstack/client/networking.go
  pkg/openstack/client/types.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/m

#526 mutating webhook respects shoot deletion, restore and migration
  pkg/admission/mutator/mutator_suite_test.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: needs/ok-to-test, reviewed/lgtm
