Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2022-12, with the labels that each got.

#532 fix nil pointer exception in route cleanup
  pkg/controller/infrastructure/actuator_delete.go
  pkg/internal/infrastructure/infrastucture.go
  pkg/internal/infrastructure/terraform.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#533 [release-v1.30] Automated cherry pick of #532: fix nil pointer exception in route cleanup
  pkg/controller/infrastructure/actuator_delete.go
  pkg/internal/infrastructure/infrastucture.go
  pkg/internal/infrastructure/terraform.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#535 Update k8s v1.25 conformance test coverage
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#408 enable storage-classes config via cloud-profile
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
  charts/internal/shoot-storageclasses/values.yaml
  docs/usage-as-operator.md
  go.mod
  hack/api-reference/api.md
  pkg/apis/openstack/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/openstack/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/openstack/types.go
Labels: area/storage, kind/api-change, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xl

#529 update calico version to v1.27.1
  go.mod
  go.sum
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/modules.txt
Labels: area/networking, kind/bug, needs/ok-to-test, needs/review, platform/openstack, size/xs

#538 Reduce noise in csi-driver-node logs
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#540 add missing pdb rbac
  charts/gardener-extension-provider-openstack/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#536 return early if no route changes
  pkg/internal/infrastructure/infrastucture.go
  pkg/internal/infrastructure/infrastucture_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#531 Update of external-snapshotter artifacts to v6.1.0 and of other csi components
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/shoot-storageclasses/templates/_helpers.tpl
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-snapshot-controller.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-snapshotter.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-snapshot-validation.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrolebinding-snapshot-validation.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshots.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/healthcheck/add.go
  pkg/openstack/types.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xl

#542 add linting check for deprecated variables
  .golangci.yaml
  charts/charts.go
  pkg/apis/config/loader/loader.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#543 Skip network mutation when shoot specs are equal
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#520 expose routerIP to infrastructure.status
  hack/api-reference/api.md
  pkg/apis/openstack/types_infrastructure.go
  pkg/apis/openstack/v1alpha1/types_infrastructure.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
Labels: kind/api-change, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#523 fix typo public ip to floating ip
  pkg/controller/bastion/actuator_reconcile.go
Labels: area/ops-productivity, kind/task, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs
