Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2022-06, with the labels that each got.

#457 Vendor gardener/machine-controller-manager@v0.45.0
  go.mod
  go.sum
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/alicoud_machineclass_types.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, reviewed/lgtm, size/xs

#365 [GEP-15] Handle extensionsv1alpha1.Bastion resources
  .ci/testruns/default.yaml
  .test-defs/bastion-test.yaml
  Makefile
  charts/gardener-extension-provider-openstack/doc.go
  charts/gardener-extension-provider-openstack/templates/configmap.yaml
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  charts/gardener-extension-provider-openstack/templates/rbac.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  cmd/gardener-extension-provider-openstack/app/app.go
  example/00-componentconfig.yaml
  example/30-bastion.yaml
  example/controller-registration.yaml
  hack/api-reference/config.md
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/openstack/helper/scheme.go
  pkg/cmd/config.go
  pkg/cmd/options.go
  pkg/controller/bastion/actuator.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/add.go
  pkg/controller/bastion/bastion_suite_test.go
  pkg/controller/bastion/options.go
  pkg/controller/bastion/resourcesdefine.go
  pkg/controller/dnsrecord/actuator.go
  pkg/openstack/client/client.go
  pkg/openstack/client/client_suite_test.go
  pkg/openstack/client/client_test.go
  pkg/openstack/client/compute.go
  pkg/openstack/client/mocks/client_mocks.go
  pkg/openstack/client/networking.go
  pkg/openstack/client/types.go
  test/integration/bastion/bastion_suite_test.go
  test/integration/bastion/bastion_test.go
  test/integration/bastion/client.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/bastion/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/bastion/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/bastion/reconciler.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/floatingips/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/floatingips/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/floatingips/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/floatingips/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/floatingips/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/floatingips/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/floatingips/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/floatingips/urls.go
  vendor/modules.txt
Labels: area/ops-productivity, kind/api-change, kind/task, kind/test, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xl, merge/squash

#459 Fix Shoot creation for K8s 1.24
  charts/images.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#460 [release-v1.26] Automated cherry pick of #459: Fix Shoot creation for K8s 1.24
  charts/images.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#464 Add parsers for csi-snapshot pods
  charts/gardener-extension-provider-openstack/templates/configmap-logging.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-snapshot-controller.yaml
  example/controller-registration.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#463 Add CSI migration feature gates to the cluster-autoscaler
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/m, area/auto-scaling
