Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2022-08, with the labels that each got.

#467 Adjust metric name due to upgrading the kube-state-metrics component
  charts/internal/machine-controller-manager/seed/mcm-monitoring-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#485 Don't deploy `PSP`s when `PodSecurityPolicy` plugin is disabled
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-driver.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/open-source, kind/api-change, kind/enhancement, needs/ok-to-test, needs/lgtm, needs/review, needs/second-opinion, platform/openstack, reviewed/do-not-merge, size/s, merge/squash

#487 Update various kubernetes-csi images
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-driver-controller.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
Labels: area/storage, kind/technical-debt, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xl

#489 Fix the broken conformance tests link
  README.md
Labels: needs/ok-to-test, needs/review, size/xs

#486 Fix log formatting
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/s

#490 [GEP-20] Change StorageClass to WaitForFirstConsumer
  charts/gardener-extension-provider-openstack/templates/storageclass.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  example/controller-registration.yaml
Labels: needs/ok-to-test
