Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2022-03, with the labels that each got.

#407 Add object selector for provider type in the `gardener-extension-admission-openstack` webhook
  charts/gardener-extension-admission-openstack/charts/application/templates/validatingwebhook-validator.yaml
  charts/gardener-extension-admission-openstack/values.yaml
  example/40-validatingwebhookconfiguration.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#414 [release-v1.24] Automated cherry pick of #411: [ci:component:github.com/gardener/machine-controller-manager:v0.43.0->v0.43.1]
  charts/images.yaml
Labels: needs/ok-to-test

#406 Use projected token mount for terraformer
  cmd/gardener-extension-provider-openstack/app/app.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_migrate.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/add.go
  pkg/internal/terraform.go
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/s

#415 Keep kubelet's `--cloud-provider` flag even for 1.23+
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#417 [release-v1.24] Automated cherry pick of #415: Keep kubelet's `--cloud-provider` flag even for 1.23+
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, needs/review, size/xs

#416 Allow projected volumes in the csi-driver-node PSP
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
Labels: kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#405 Update kubernetes-csi/external-snapshotter
  charts/images.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#410 Replace -ginkgo.noColor with -ginkgo.no-color
  .test-defs/infrastructure-test.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#409 Improve grafana dashboards
  charts/internal/machine-controller-manager/seed/mcm-monitoring-dashboard.json
  charts/internal/seed-controlplane/charts/cloud-controller-manager/ccm-observability-dashboard.json
  charts/internal/seed-controlplane/charts/csi-driver-controller/csi-driver-controller-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/openstack, size/xl, merge/squash

#426 Add --version flag for components
  .dockerignore
  Makefile
  cmd/gardener-extension-admission-openstack/app/app.go
  cmd/gardener-extension-provider-openstack/app/app.go
  vendor/k8s.io/component-base/version/verflag/verflag.go
  vendor/modules.txt
Labels: kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#421 Add ready check for Webhook server
  charts/gardener-extension-admission-openstack/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-openstack/values.yaml
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  cmd/gardener-extension-admission-openstack/app/app.go
  cmd/gardener-extension-provider-openstack/app/app.go
  example/controller-registration.yaml
  vendor/github.com/gardener/gardener/pkg/healthz/default.go
  vendor/github.com/gardener/gardener/pkg/healthz/healthz.go
  vendor/github.com/gardener/gardener/pkg/healthz/informer.go
  vendor/github.com/gardener/gardener/pkg/healthz/periodic.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, platform/openstack, size/s

#424 update cloudprovider webhook for objectSelector
  cmd/gardener-extension-provider-openstack/app/app.go
  pkg/cmd/options.go
  pkg/webhook/cloudprovider/add.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/s

#423 Add possibility to set etcd StorageClass parameters
  charts/gardener-extension-provider-openstack/templates/storageclass.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs
