Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2022-01, with the labels that each got.

#370 `make generate` for the year change
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/openstack/v1alpha1/zz_generated.defaults.go
  pkg/apis/openstack/zz_generated.deepcopy.go
Labels: needs/ok-to-test

#371 Volume type support for root disk of VMs
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  pkg/apis/openstack/validation/shoot.go
  pkg/apis/openstack/validation/shoot_test.go
  pkg/controller/worker/machines.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#377 Add check for the docforge manifest
  .ci/verify
  .gitignore
  Makefile
  hack/tools/bin/.gitkeep
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#378 Update RBAC for leader election of `machine-controller-manager`
  charts/internal/machine-controller-manager/seed/templates/clusterrole.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#373 Add `internalNetworkName` to cloud-provider-config
  charts/internal/cloud-provider-config/templates/_cloud-provider-config-networking.tpl
  charts/internal/cloud-provider-config/templates/cloud-provider-config.yaml
  charts/internal/cloud-provider-config/values.yaml
  hack/api-reference/api.md
  pkg/apis/openstack/types_infrastructure.go
  pkg/apis/openstack/v1alpha1/types_infrastructure.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  pkg/openstack/client/networking.go
Labels: area/networking, kind/bug, kind/api-change, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#375 Use separate resolv.conf for kubelet
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, size/m

#382 update RBAC for mcm v0.43
  charts/internal/machine-controller-manager/seed/templates/clusterrole.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#384 Kubernetes Version Configurability per Worker Pool
  docs/usage-as-end-user.md
  pkg/apis/openstack/validation/shoot.go
  pkg/apis/openstack/validation/shoot_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/csimigration/add.go
  pkg/controller/healthcheck/add.go
  pkg/openstack/types.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/m, merge/squash

#386 Support for Kubernetes v1.23
  README.md
  charts/images.yaml
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/m, topology/garden, topology/seed, topology/shoot, merge/squash
