Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2022-10, with the labels that each got.

#496 Removes support for kubernetes < 1.17 for OpenStack extension provider
  README.md
  charts/internal/cloud-provider-config/values.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
  example/10-fake-shoot-controlplane.yaml
  example/30-controlplane.yaml
  example/30-worker.yaml
  hack/api-reference/api.json
  hack/api-reference/api.md
  hack/api-reference/config.json
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/s

#493 Set seccomp profile to RuntimeDefault for csi-driver-node
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#503 update go version
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-openstack.yaml
  Dockerfile
  Makefile
  go.mod
  pkg/openstack/client/compute.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#505 Fix integration tests
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/regression, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs, area/testing

#494 Correct the metricsPort check for admission-openstack deployment
  charts/gardener-extension-admission-openstack/charts/runtime/templates/deployment.yaml
Labels: kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#502 Support for Kubernetes v1.25
  README.md
  charts/gardener-extension-admission-openstack/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-provider-openstack/templates/poddisruptionbudget.yaml
  charts/images.yaml
  example/controller-registration.yaml
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs, topology/garden, topology/seed, topology/shoot, merge/squash

#507 Use CCM `v1.22.0` image for `1.22.x` Shoots
  charts/images.yaml
Labels: kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs
