Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2023-04, with the labels that each got.

#601 Fix image version selection for csi-driver-manila
  charts/images.yaml
Labels: area/control-plane, kind/impediment, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#603 Do not delete `csi-snapshot-validation` ClusterRole and ClusterRoleBinding from the wrong cluster (Seed cluster) when deleting Shoot
  pkg/controller/controlplane/valuesprovider.go
Labels: area/quality, kind/bug, kind/regression, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#602 Improve worker hash calculation
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/openstack/types.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/m

#599 Make the `gardener-extension-admission-openstack` Service topology-aware
  charts/gardener-extension-admission-openstack/charts/runtime/templates/service.yaml
  charts/gardener-extension-admission-openstack/values.yaml
Labels: area/high-availability, area/networking, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#607 Add missing network policy labels to extension controller pod
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#610 Remove out-of-support flags from deployment Yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
Labels: area/usability, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/ok-to-test, reviewed/lgtm, size/xs

#611 Add missing network policy labels to extension controller pod (#607)
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs
