Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2023-11, with the labels that each got.

#688 use nfs v4.1 by default
  charts/internal/shoot-system-components/charts/csi-driver-manila/templates/storageclass.yaml
  charts/internal/shoot-system-components/charts/csi-driver-manila/values.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#689 Add Manila autoTopology storage class
  charts/internal/shoot-system-components/charts/csi-driver-manila/templates/storageclass.yaml
Labels: area/control-plane, kind/enhancement, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/s

#693 [release-v1.38] Automated cherry pick of #692: [ci:component:github.com/gardener/machine-controller-manager-provider-openstack:v0.15.0->v0.15.1]
  imagevector/images.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#694 Fix panic in mutating webhook, when overlay config is empty in old shoot.
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#695 [release-v1.38] Fix panic, when overlay config is empty in old shoot.
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#690 Support arm64
  docs/operations/operations.md
  hack/api-reference/api.md
  pkg/apis/openstack/helper/helper.go
  pkg/apis/openstack/helper/helper_test.go
  pkg/apis/openstack/types_cloudprofile.go
  pkg/apis/openstack/types_worker.go
  pkg/apis/openstack/v1alpha1/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/types_worker.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/openstack/validation/cloudprofile.go
  pkg/apis/openstack/validation/cloudprofile_test.go
  pkg/apis/openstack/zz_generated.deepcopy.go
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xl
