Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2023-07, with the labels that each got.

#645 Adapt to new `MachineControllerManagerDeployment` feature gate
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  cmd/gardener-extension-provider-openstack/app/app.go
  example/controller-registration.yaml
  pkg/controller/healthcheck/add.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/add.go
  pkg/webhook/controlplane/add.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  vendor/github.com/gardener/gardener/pkg/utils/test/gomock.go
  vendor/github.com/gardener/gardener/pkg/utils/test/manager.go
  vendor/github.com/gardener/gardener/pkg/utils/test/options.go
  vendor/github.com/gardener/gardener/pkg/utils/test/test.go
  vendor/github.com/gardener/gardener/pkg/utils/test/test_resources.go
  vendor/modules.txt
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l

#652 Fix rendering of CSI manila storageclass if creating infrastructure fails.
  charts/internal/shoot-system-components/charts/csi-driver-manila/templates/storageclass.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#528 Flow-based infrastructure reconciliation without Terraformer
  go.mod
  pkg/apis/openstack/helper/error_codes.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_migrate.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/actuator_restore.go
  pkg/controller/infrastructure/infraflow/access/networking_access.go
  pkg/controller/infrastructure/infraflow/access/retry.go
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/delete.go
  pkg/controller/infrastructure/infraflow/persistent_state.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/infraflow/shared/basic_context.go
  pkg/controller/infrastructure/infraflow/shared/basic_context_test.go
  pkg/controller/infrastructure/infraflow/shared/shared_suite_test.go
  pkg/controller/infrastructure/infraflow/shared/tf_state.go
  pkg/controller/infrastructure/infraflow/shared/tf_state_test.go
  pkg/controller/infrastructure/infraflow/shared/whiteboard.go
  pkg/controller/infrastructure/infraflow/shared/whiteboard_test.go
  pkg/controller/infrastructure/infraflow/utils.go
  pkg/internal/infrastructure/infrastucture.go
  pkg/internal/infrastructure/infrastucture_test.go
  pkg/openstack/client/compute.go
  pkg/openstack/client/mocks/client_mocks.go
  pkg/openstack/client/networking.go
  pkg/openstack/client/types.go
  test/integration/infrastructure/infrastructure_test.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/ports/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/ports/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/ports/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/ports/urls.go
  vendor/modules.txt
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xl
