Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2023-01, with the labels that each got.

#549 get existing router via ID
  pkg/internal/infrastructure/templates/main.tpl.tf
  test/integration/infrastructure/infrastructure_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#550 fix containerName of provider-openstack within the mcm Deployment
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
Labels: kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs, area/scalability

#557 Update CSI dependencies to latest releases
  charts/images.yaml
Labels: area/control-plane, kind/task, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#541 Drop support for kubernetes < 1.20 for Openstack extension provider
  README.md
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  charts/images.yaml
  charts/internal/cloud-provider-config/templates/cloud-provider-disk-config-csi.yaml
  charts/internal/cloud-provider-config/values.yaml
  charts/internal/seed-controlplane/values.yaml
  charts/internal/shoot-crds/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_helpers.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
  charts/internal/shoot-system-components/values.yaml
  cmd/gardener-extension-provider-openstack/app/app.go
  docs/usage-as-end-user.md
  example/10-fake-shoot-controlplane.yaml
  example/controller-registration.yaml
  hack/api-reference/api.json
  hack/api-reference/api.md
  hack/api-reference/config.json
  pkg/admission/validator/shoot.go
  pkg/apis/openstack/validation/controlplane_test.go
  pkg/apis/openstack/validation/shoot.go
  pkg/apis/openstack/validation/shoot_test.go
  pkg/cmd/options.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/csimigration/add.go
  pkg/controller/healthcheck/add.go
  pkg/openstack/types.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/README.md
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/predicate.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/utils.go
  vendor/modules.txt
Labels: area/open-source, kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xl
