Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2023-09, with the labels that each got.

#663 Update v1.27 conformance test coverage
  README.md
Labels: kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/xs

#668 Honor cloudprofile specific TLS settings
  pkg/openstack/client/client.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#673 Update cilium to v1.28.0
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  go.mod
  go.sum
  pkg/controller/worker/actuator.go
  vendor/github.com/gardener/etcd-druid/api/v1alpha1/types_etcd.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/cilium/types.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_delete.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/machine_controller_manager.go
  vendor/github.com/gardener/gardener/hack/generate-monitoring-docs.sh
  vendor/github.com/gardener/gardener/hack/test-prometheus.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/types_seed.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_seed.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/types_operatingsystemconfig.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/operator/v1alpha1/constants.go
  vendor/github.com/gardener/gardener/pkg/apis/operator/v1alpha1/types.go
  vendor/github.com/gardener/gardener/pkg/apis/operator/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/progress_reporter.go
  vendor/github.com/gardener/gardener/pkg/utils/images/images.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/tls_cipher_suites.go
  vendor/github.com/gardener/gardener/pkg/utils/managedresources/managedresources.go
  vendor/github.com/gardener/gardener/pkg/utils/miscellaneous.go
  vendor/modules.txt
Labels: area/networking, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#674 add manila labels
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/openstack/types.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#654 Enable propagating pod routes to nodes without overlay network
  go.mod
  go.sum
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/types.go
  vendor/modules.txt
Labels: area/networking, kind/enhancement, kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/m

#670 Drop support for Shoots with Kubernetes version < 1.24
  README.md
  charts/images.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  docs/operations/operations.md
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/m

#666 add convenient description to security group rules
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/internal/infrastructure/templates/main.tpl.tf
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#675 update image definitions
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs
