Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2023-05, with the labels that each got.

#612 Add a new metric that will allow Prometheus to scrape the stale machi…
  charts/internal/machine-controller-manager/seed/templates/configmap-monitoring.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#617 Revert "restrict port (#608)"
  pkg/internal/infrastructure/templates/main.tpl.tf
Labels: area/control-plane, kind/regression, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#613 add topology support for manila
  charts/internal/seed-controlplane/charts/csi-driver-manila-controller/templates/deployment-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-manila-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-manila/templates/daemonset-node.yaml
  charts/internal/shoot-system-components/charts/csi-driver-manila/templates/storageclass.yaml
  charts/internal/shoot-system-components/charts/csi-driver-manila/values.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/s

#618 Consider errors from NodesChecker for finding user related issues
  pkg/controller/healthcheck/add.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#619 Consider errors from NodesChecker for finding user related issues
  pkg/controller/healthcheck/add.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/xs

#620 Adapt `NetworkPolicy`s
  charts/gardener-extension-admission-openstack/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-openstack/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-openstack/templates/service.yaml
  charts/internal/machine-controller-manager/seed/templates/service.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager-svc.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  example/controller-registration.yaml
  pkg/webhook/controlplane/ensurer.go
Labels: area/networking, area/security, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#622 Revert "Consider errors from NodesChecker for finding user related issues"
  pkg/controller/healthcheck/add.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#623 specify fip subnet based on router
  pkg/controller/bastion/actuator_reconcile.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#614 manila observability
  charts/internal/seed-controlplane/charts/csi-driver-manila-controller/templates/deployment-controller.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#625 topology-aware routing: Adapt to the upstream annotation change in K8s 1.27
  charts/gardener-extension-admission-openstack/charts/runtime/templates/service.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
Labels: area/high-availability, area/networking, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, reviewed/lgtm, size/xs

#626 Address TODO
  pkg/webhook/controlplane/ensurer.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#627 update go v1.20.4
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-openstack.yaml
  Dockerfile
  go.mod
Labels: area/control-plane, kind/enhancement, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#630 Add cve categorziation for extension and admission controller
  .ci/pipeline_definitions
Labels: kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs, area/compliance

#633 Allow changing share network section
  pkg/apis/openstack/validation/infrastructure.go
  pkg/apis/openstack/validation/infrastructure_test.go
  pkg/controller/controlplane/valuesprovider.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs
