Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2023-08, with the labels that each got.

#655 add missing actuator initialize
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/add.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#656 Clean leftover kubernetes loadbalancers
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/delete.go
  pkg/internal/infrastructure/infrastucture.go
  pkg/internal/infrastructure/infrastucture_test.go
  pkg/openstack/client/client.go
  pkg/openstack/client/loadbalancing.go
  pkg/openstack/client/mocks/client_mocks.go
  pkg/openstack/client/types.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/l7policies/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/l7policies/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/l7policies/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/l7policies/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/listeners/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/listeners/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/listeners/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/listeners/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/loadbalancers/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/loadbalancers/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/loadbalancers/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/loadbalancers/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/monitors/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/monitors/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/monitors/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/monitors/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/pools/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/pools/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/pools/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/pools/urls.go
  vendor/modules.txt
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/l

#659 CSI topology label on MachineDeployment creation to allow scale-up
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/openstack/types.go
Labels: kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs, area/auto-scaling

#661 fix choosing worker cidr
  pkg/controller/infrastructure/infraflow/delete.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs
