Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2023-02, with the labels that each got.

#560 fix values.yaml
  charts/gardener-extension-admission-openstack/values.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#553 Add CVE runtime context for `MCM` and `mcm-provider-openstack`
  charts/images.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#552 Add Fluent Operator resources
  charts/gardener-extension-provider-openstack/templates/clusterfilters-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#566 Fix flapping `snapshot.storage.k8s.io` CRDs
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshots.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/l

#567 [release-v1.31] Automated cherry pick of #566: Fix flapping `snapshot.storage.k8s.io` CRDs
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshots.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, reviewed/lgtm, size/l

#545 Update golang to v1.19.5
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-openstack.yaml
  Dockerfile
Labels: kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#571 Disable overlay webhook completely
  charts/gardener-extension-admission-openstack/charts/application/templates/mutatingwebhook-mutator.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#551 Support for Kubernetes v1.26
  README.md
  charts/images.yaml
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/m, topology/garden, topology/seed, topology/shoot, merge/squash

#563 Allow specifying CA cert for Keystone in Cloudprofile
  charts/internal/cloud-provider-config/templates/_cloud-provider-config-global.tpl
  charts/internal/cloud-provider-config/templates/cloud-provider-config.yaml
  charts/internal/cloud-provider-config/templates/cloud-provider-disk-config-csi.yaml
  charts/internal/cloud-provider-config/templates/cloud-provider-disk-config.yaml
  charts/internal/cloud-provider-config/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/secret.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  hack/api-reference/api.md
  pkg/apis/openstack/helper/helper.go
  pkg/apis/openstack/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/openstack/validation/cloudprofile.go
  pkg/apis/openstack/validation/cloudprofile_test.go
  pkg/apis/openstack/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/templates/variables.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  pkg/internal/terraform.go
  pkg/openstack/client/client.go
  pkg/openstack/credentials.go
  pkg/openstack/types.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/cloudprovider/ensurer_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/l

#562 Mark csi-driver-node as node-critical component
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#573 remove snat settings since they are no longer required
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#576 Remove minAllowed.cpu from all components
  charts/gardener-extension-admission-openstack/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-openstack/values.yaml
  charts/gardener-extension-provider-openstack/templates/vpa.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/vpa.yaml
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/xs, area/auto-scaling
