Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2024-04, with the labels that each got.

#741 allow bastion to work with ids
  pkg/controller/bastion/actuator_reconcile.go
  pkg/openstack/client/compute.go
  pkg/openstack/client/mocks/client_mocks.go
  pkg/openstack/client/types.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/s

#732 update images
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-snapshot-controller.yaml
  imagevector/images.yaml
Labels: needs/ok-to-test, needs/second-opinion, platform/openstack, reviewed/do-not-merge, size/xl

#735 add operatingsystem label
  charts/internal/machineclass/templates/machineclass.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/xs

#750 Set responsible label in component descriptor
  .ci/pipeline_definitions
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs
