Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2024-09, with the labels that each got.

#840 Return err instead of nil
  pkg/controller/infrastructure/actuator.go
Labels: area/robustness, kind/bug, needs/ok-to-test, needs/review, platform/openstack, reviewed/lgtm, size/xs

#850 Update gardener to 1.103.0 and golang to 1.23.0
  .ci/hack/component_descriptor
  .test-defs/apply-flow-openstack.yaml
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-openstack.yaml
  Dockerfile
  cmd/gardener-extension-provider-openstack/app/app.go
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  imagevector/imagevector.go
  pkg/admission/validator/shoot.go
  pkg/admission/validator/shoot_test.go
  pkg/apis/openstack/helper/scheme.go
  pkg/controller/bastion/add.go
  pkg/controller/controlplane/add.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/infrastructure/add.go
  pkg/controller/worker/add.go
  pkg/controller/worker/helper.go
  pkg/controller/worker/machine_images.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/openstack, size/xl

#845 [GEP-26] CredentialsBinding validation via admission webhook
  charts/gardener-extension-admission-openstack/charts/application/templates/rbac.yaml
  cmd/gardener-extension-admission-openstack/app/app.go
  docs/usage/usage.md
  pkg/admission/validator/credentialsbinding.go
  pkg/admission/validator/credentialsbinding_test.go
  pkg/admission/validator/shoot.go
  pkg/admission/validator/webhook.go
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/m, area/ipcei

#864 Update cloud-provider-openstack images and remove credential use from nodeserver
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-driver-controller.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/secret.yaml
  imagevector/images.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/m

#863 remove min/maxAllowed
  charts/gardener-extension-admission-openstack/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-openstack/values.yaml
  charts/gardener-extension-provider-openstack/templates/vpa.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-manila-controller/templates/vpa-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-manila-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-manila/templates/vpa-node.yaml
  charts/internal/shoot-system-components/charts/csi-driver-manila/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  example/controller-registration.yaml
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/m

#865 Update CSI sidecars to latest version
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-provisioner.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/csi-snapshot-validation-webhook.yaml
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/openstack, size/xl

#834 [GEP-25] Enable Shoot cloudProfile reference as complement to cloudProfileName
  charts/gardener-extension-admission-openstack/charts/application/templates/rbac.yaml
  docs/usage/usage.md
  pkg/admission/validator/shoot.go
  pkg/admission/validator/shoot_test.go
  pkg/apis/openstack/helper/scheme.go
  pkg/apis/openstack/validation/controlplane.go
Labels: area/open-source, area/usability, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/openstack, size/m

#867 revert v1.25 image removal
  imagevector/images.yaml
Labels: area/control-plane, kind/regression, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/s

#830 make `ClusterFilter` and `StorageClass` toggable in helm-chart
  charts/gardener-extension-provider-openstack/templates/clusterfilters-logging.yaml
  charts/gardener-extension-provider-openstack/templates/storageclass.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  example/controller-registration.yaml
  hack/tools/bin/.gitkeep
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#856 Support for Kubernetes v1.31
  README.md
  imagevector/images.yaml
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s, topology/garden, topology/seed, topology/shoot, merge/squash
