Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2024-10, with the labels that each got.

#869 fix unnecessary conditionals from min/max allowed cleanup
  charts/gardener-extension-admission-openstack/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-openstack/values.yaml
  charts/gardener-extension-provider-openstack/templates/vpa.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/technical-debt, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#841 Allow multiple loadBalancerProviders as the default and for a region
  docs/operations/operations.md
  pkg/apis/openstack/validation/cloudprofile.go
  pkg/apis/openstack/validation/cloudprofile_test.go
  pkg/apis/openstack/validation/controlplane.go
  pkg/apis/openstack/validation/controlplane_test.go
Labels: area/networking, kind/enhancement, platform/openstack, reviewed/lgtm, size/m

#870 Improve confusing error message
  pkg/controller/worker/actuator.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#871 parallel tests
  .test-defs/infrastructure-test.yaml
  pkg/controller/infrastructure/infraflow/access/networking_access.go
  test/integration/infrastructure/infrastructure_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, reviewed/lgtm, size/s, area/testing

#875 Fix k8s <=v1.27 deployment of csi-driver-node
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-driver-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/secret.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#876 [release-v1.42] Automated cherry pick of #875: Fix k8s <=v1.27 deployment of csi-driver-node
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-driver-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/secret.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#880 Update ClusterRole CSI provisioner rules
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-provisioner.yaml
Labels: area/quality, kind/cleanup, needs/ok-to-test, needs/review, platform/openstack, size/xs

#881 Update gardener/gardener to v1.105.1
  .ci/hack/set_dependency_version
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  pkg/controller/worker/machines_test.go
  pkg/webhook/controlplane/ensurer.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/m

#885 forbid disabling share networks
  pkg/apis/openstack/validation/infrastructure.go
  pkg/apis/openstack/validation/infrastructure_test.go
  pkg/controller/infrastructure/infraflow/delete.go
  pkg/controller/infrastructure/infraflow/reconcile.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/s
