Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2024-11, with the labels that each got.

#896 Update gardener to v1.107.0
  example/20-crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_clusters.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/20-crd-resources.gardener.cloud_managedresources.yaml
  go.mod
  go.sum
  hack/update-codegen.sh
  pkg/openstack/client/mocks/client_mocks.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  pkg/webhook/infrastructure/add.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xl

#895 Remove the provider type predicates in webhooks
  pkg/admission/mutator/webhook.go
  pkg/admission/validator/webhook.go
Labels: area/usability, kind/cleanup, needs/ok-to-test, needs/review, platform/openstack, size/xs

#898 fix deletion when network doesn't exist
  pkg/controller/infrastructure/infraflow/delete.go
  pkg/controller/infrastructure/infraflow/reconcile.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/s

#900 Update to go 1.23.3
  .test-defs/apply-flow-openstack.yaml
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-openstack.yaml
  Dockerfile
  go.mod
Labels: area/quality, kind/cleanup, needs/ok-to-test, needs/review, platform/openstack, size/xs

#904 Address TODO after vendoring github.com/gardener/gardener@v1.106
  pkg/webhook/controlplane/ensurer.go
Labels: kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#905 Update Kubernetes 1.31 conformance test coverage
  README.md
Labels: kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/xs

#902 Introduce gosec
  Makefile
  pkg/apis/config/loader/loader.go
  pkg/apis/openstack/validation/shoot.go
  pkg/controller/worker/machines.go
  pkg/internal/terraform.go
  pkg/openstack/client/client.go
  pkg/openstack/types.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, reviewed/lgtm, size/s

#894 Improving classification for user errors
  pkg/apis/openstack/helper/error_codes.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/changes, platform/openstack, size/xs

#886 Enforce restriction with regards to IPv6 support
  pkg/admission/validator/shoot_test.go
  pkg/apis/openstack/validation/shoot.go
Labels: area/networking, area/robustness, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#906 Update golang versions
  .test-defs/apply-flow-openstack.yaml
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-openstack.yaml
  go.mod
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#907 Cleanup object selector version constraint
  cmd/gardener-extension-provider-openstack/app/app.go
  pkg/cmd/options.go
  pkg/webhook/controlplane/add.go
Labels: kind/cleanup, needs/ok-to-test, needs/review, platform/openstack, size/s

#915 update csi images
  imagevector/images.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#916 infraflow: Improve "error multiple matches" message
  pkg/controller/infrastructure/infraflow/utils.go
Labels: area/networking, kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#911 Add `NamespacedCloudProfile` validation and mutation webhooks
  pkg/admission/mutator/namespacedcloudprofile.go
  pkg/admission/mutator/namespacedcloudprofile_test.go
  pkg/admission/mutator/webhook.go
  pkg/admission/validator/namespacedcloudprofile.go
  pkg/admission/validator/namespacedcloudprofile_test.go
  pkg/admission/validator/webhook.go
  pkg/apis/openstack/validation/cloudprofile.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xl

#901 Adjustments for charts and code to deploy extension by gardener-operator
  .ci/pipeline_definitions
  charts/gardener-extension-admission-openstack/Chart.yaml
  charts/gardener-extension-admission-openstack/charts/application/.helmignore
  charts/gardener-extension-admission-openstack/charts/application/Chart.yaml
  charts/gardener-extension-admission-openstack/charts/application/templates/_helpers.tpl
  charts/gardener-extension-admission-openstack/charts/application/templates/rbac.yaml
  charts/gardener-extension-admission-openstack/charts/application/templates/serviceaccount.yaml
  charts/gardener-extension-admission-openstack/charts/application/values.yaml
  charts/gardener-extension-admission-openstack/charts/runtime/.helmignore
  charts/gardener-extension-admission-openstack/charts/runtime/Chart.yaml
  charts/gardener-extension-admission-openstack/charts/runtime/templates/_helpers.tpl
  charts/gardener-extension-admission-openstack/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-openstack/charts/runtime/templates/secret-kubeconfig.yaml
  charts/gardener-extension-admission-openstack/charts/runtime/templates/service.yaml
  charts/gardener-extension-admission-openstack/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-openstack/charts/runtime/values.yaml
  charts/gardener-extension-admission-openstack/templates/_helpers.tpl
  charts/gardener-extension-admission-openstack/values.yaml
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  charts/gardener-extension-provider-openstack/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-openstack/templates/rbac.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  cmd/gardener-extension-admission-openstack/app/app.go
  cmd/gardener-extension-provider-openstack/app/app.go
  example/controller-registration.yaml
  pkg/controller/backupbucket/add.go
  pkg/controller/backupentry/add.go
  pkg/controller/dnsrecord/add.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/l
