Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2024-08, with the labels that each got.

#797 Add object selector to controlplane webhook with version constraint
  pkg/cmd/options.go
  pkg/webhook/controlplane/add.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/s

#820 Inserts Architecture from worker to machineclass
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/changes, needs/review, platform/openstack, size/s

#828 Publish separate admission Helm charts
  .ci/pipeline_definitions
Labels: area/delivery, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/xs

#823 Clean up cloudprovider webhook after dropping the gardener version check
  pkg/cmd/options.go
  pkg/webhook/cloudprovider/add.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs
