Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2024-07, with the labels that each got.

#800 cleanup
  pkg/controller/bastion/bastion_suite_test.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/infrastructure/actuator.go
  pkg/utils/utils.go
  test/integration/infrastructure/infrastructure_test.go
  test/tm/generator.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/s

#807 Update k8s v1.30 conformance test coverage
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/xs

#806 [admission] Add `priorityClassName`
  charts/gardener-extension-admission-openstack/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-openstack/values.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#816 Adapt new `WorkerPoolHash` function in Gardener `v1.98`
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/webhook/cloudprovider/add.go
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/m

#811 Publish Helm charts as OCI artifacts
  .ci/pipeline_definitions
Labels: area/delivery, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/s

#822 update vpa crd
  example/20-crd-vpa.yaml
Labels: kind/technical-debt, needs/ok-to-test, needs/review, needs/second-opinion, platform/openstack, size/xl, area/testing

#824 fix an issue where shoots would be migrated to flow during cp-migration
  pkg/webhook/infrastructure/mutator.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/openstack, size/xs

#825 [Release 1.41] fix an issue where shoots would be migrated to flow during cp-migration
  pkg/webhook/infrastructure/mutator.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#826 fix an issue with share network reconciliation not calculating number…
  pkg/controller/infrastructure/infraflow/delete.go
  pkg/controller/infrastructure/infraflow/utils.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/openstack, size/xs

#827 [release 1.41] fix an issue with share network reconciliation not calculating number of existing share networks correctly
  pkg/controller/infrastructure/infraflow/delete.go
  pkg/controller/infrastructure/infraflow/utils.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/openstack, size/xs
