Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2024-05, with the labels that each got.

#763 Expose egressCIDRs in provider status
  pkg/controller/infrastructure/actuator.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#742 Support app credentials in tests
  .ci/testruns/default/templates/testrun.yaml
  Makefile
  hack/api-reference/config.md
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/openstack/client/client.go
  pkg/openstack/client/images.go
  pkg/openstack/client/mocks/client_mocks.go
  pkg/openstack/client/networking.go
  pkg/openstack/client/types.go
  pkg/openstack/credentials.go
  pkg/openstack/openstack_suite_test.go
  pkg/openstack/openstack_test.go
  test/integration/bastion/bastion_test.go
  test/integration/bastion/client.go
  test/integration/infrastructure/client.go
  test/integration/infrastructure/infrastructure_test.go
Labels: kind/api-change, kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xl, area/testing

#752 Add cluster-autoscaler options to machine deployment
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s, area/auto-scaling

#765 Add egressCIDRs test
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_reconcile.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/monitoring, kind/test, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/s

#771 chore: Update Concourse URL
  README.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, needs/review, platform/openstack, size/xs

#774 Remove invalid CCM feature gate from the examples
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  docs/usage/usage.md
  example/30-controlplane.yaml
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#772 controlplaneexposure-webhook: Don't do no-op mutations for Services and Deployments
  pkg/webhook/controlplaneexposure/add.go
Labels: kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/scalability

#767 Fix bastion userData
  .ci/testruns/default/templates/testrun.yaml
  Makefile
  test/integration/bastion/bastion_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#776 Read new `.spec.pools[].userDataSecretRef` field for worker pool user data
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  hack/cherry-pick-pull.sh
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, area/scalability

#770 Support for Kubernetes v1.30
  README.md
  imagevector/images.yaml
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/xs, topology/garden, topology/seed, topology/shoot, merge/squash

#733 Set lb-method="SOURCE_IP_PORT" when using "ovn" loadbalancer provider
  charts/internal/cloud-provider-config/templates/cloud-provider-config-loadbalancer.tpl
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs
