Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2024-06, with the labels that each got.

#788 Fix indentation in CCM ServiceMonitor
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
Labels: area/monitoring, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#789 [release-v1.40] Automated cherry pick of #788: Fix indentation in CCM ServiceMonitor
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
Labels: area/monitoring, kind/bug, needs/ok-to-test, needs/review, size/xs

#779 update flow reconciler
  .ci/testruns/default/templates/testrun.yaml
  .test-defs/apply-flow-openstack.yaml
  .test-defs/infrastructure-test.yaml
  Makefile
  go.mod
  go.sum
  hack/api-reference/api.md
  pkg/admission/validator/shoot_test.go
  pkg/apis/openstack/register.go
  pkg/apis/openstack/types_cloudprofile.go
  pkg/apis/openstack/types_infrastructure.go
  pkg/apis/openstack/v1alpha1/register.go
  pkg/apis/openstack/v1alpha1/types_cloudprofile.go
  pkg/apis/openstack/v1alpha1/types_infrastructure.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/openstack/zz_generated.deepcopy.go
  pkg/cmd/options.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_migrate.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/actuator_restore.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/access/networking_access.go
  pkg/controller/infrastructure/infraflow/access/retry.go
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/delete.go
  pkg/controller/infrastructure/infraflow/persistent_state.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/infraflow/shared/basic_context.go
  pkg/controller/infrastructure/infraflow/shared/basic_context_test.go
  pkg/controller/infrastructure/infraflow/shared/extras.go
  pkg/controller/infrastructure/infraflow/shared/whiteboard.go
  pkg/controller/infrastructure/infraflow/utils.go
  pkg/controller/infrastructure/strategyselector.go
  pkg/controller/infrastructure/strategyselector_test.go
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/internal/infrastructure/infrastucture.go
  pkg/internal/infrastructure/terraform.go
  pkg/openstack/types.go
  pkg/webhook/infrastructure/add.go
  pkg/webhook/infrastructure/mutator.go
  pkg/webhook/infrastructure/mutator_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/tm/apply_flow/maintain_test.go
  test/tm/apply_flow/shoot_maintain_suite_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/openstack, size/xl

#795 Replace occurrences of + in operating system labels for MachineClasses with _
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, platform/openstack, size/xs

#794 Include absent router in infra-dependency errs
  pkg/apis/openstack/helper/error_codes.go
Labels: area/disaster-recovery, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs
