Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2025-04, with the labels that each got.

#1014 docs: Add conformance test results badge for Kubernetes v1.32
  README.md
Labels: area/documentation, area/open-source, kind/task, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs, status/closed

#1015 Address TODOs for legacy NetworkPolicy labels
  charts/gardener-extension-provider-openstack/templates/service.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/cleanup, needs/ok-to-test, needs/review, platform/openstack, size/xs

#966 Use ServiceTrafficDistribution to make Services topology-aware when runtime Kubernetes >= 1.31
  charts/gardener-extension-admission-openstack/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-openstack/templates/service.yaml
  example/controller-registration.yaml
Labels: area/high-availability, area/networking, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1020 Update base image to `debian12`
  Dockerfile
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#1022 Fix cloudProfile validation
  pkg/apis/openstack/validation/cloudprofile.go
  pkg/apis/openstack/validation/cloudprofile_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, platform/openstack, size/s

#1029 Also build and publish arm64 images
  .ci/pipeline_definitions
Labels: area/usability, kind/task, needs/ok-to-test, needs/review, platform/openstack, size/xs

#1026 Cleanup TODOs related to legacy monitoring configuration
  charts/gardener-extension-provider-openstack/templates/rbac.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/prometheusrule.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  example/controller-registration.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/monitoring, kind/cleanup, needs/ok-to-test, needs/review, platform/openstack, size/s

#1018 Switch Slack references to Gardener workspace
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#1027 Update images
  imagevector/images.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/xs

#1037 Chore: Update golangci-lint to v2
  .golangci.yaml
  charts/charts.go
  cmd/gardener-extension-admission-openstack/main.go
  cmd/gardener-extension-provider-openstack/app/app.go
  cmd/gardener-extension-provider-openstack/main.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  pkg/admission/validator/shoot_test.go
  pkg/apis/openstack/validation/shoot_test.go
  pkg/controller/bastion/options.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/infrastructure/infraflow/access/networking_access.go
  pkg/controller/infrastructure/infraflow/shared/basic_context.go
  pkg/controller/infrastructure/infraflow/shared/basic_context_test.go
  pkg/controller/infrastructure/infraflow/shared/tf_state_test.go
  pkg/controller/infrastructure/infraflow/utils.go
  pkg/controller/infrastructure/strategyselector.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/controller/worker/server_groups.go
  pkg/internal/infrastructure/infrastucture_test.go
  pkg/internal/infrastructure/terraform_test.go
  pkg/openstack/client/client_test.go
  pkg/openstack/client/swift.go
  pkg/openstack/credentials.go
  pkg/openstack/types.go
  pkg/webhook/controlplane/ensurer_test.go
  pkg/webhook/infrastructure/mutator_test.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/tm/apply_flow/maintain_test.go
Labels: area/quality, kind/cleanup, needs/ok-to-test, needs/review, needs/second-opinion, platform/openstack, size/l

#1039 Update `gardener/gardener` to `v1.117.1`
  .github/ISSUE_TEMPLATE/support.md
  charts/gardener-extension-provider-openstack/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-openstack/templates/rbac.yaml
  cmd/gardener-extension-provider-openstack/app/app.go
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_clusters.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/20-crd-resources.gardener.cloud_managedresources.yaml
  example/controller-registration.yaml
  example/doc.go
  go.mod
  go.sum
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/webhook/seedprovider/add.go
  pkg/webhook/seedprovider/ensurer.go
  pkg/webhook/seedprovider/ensurer_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/openstack, size/xl
