Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2025-02, with the labels that each got.

#974 add max-entries to attacher
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-driver-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/openstack, size/xs

#970 fix(infraflow): report last error for wait functions
  pkg/controller/infrastructure/infraflow/access/networking_access.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#985 Make extension ports configurable via helm values
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  charts/gardener-extension-provider-openstack/templates/service.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s

#981 Forbid container privilege escalations
  charts/gardener-extension-admission-openstack/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-driver-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-snapshot-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-manila-controller/templates/deployment-controller.yaml
  charts/internal/shoot-system-components/charts/csi-driver-manila/templates/daemonset-node.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
  example/controller-registration.yaml
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#989 update golang to v1.24
  .test-defs/apply-flow-openstack.yaml
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-openstack.yaml
  Dockerfile
  go.mod
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/xs

#991 upgrade gardener to v1.113.0
  .ci/hack/component_descriptor
  cmd/gardener-extension-admission-openstack/app/app.go
  example/20-crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_clusters.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/20-crd-resources.gardener.cloud_managedresources.yaml
  go.mod
  go.sum
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/cmd/config.go
  pkg/controller/backupbucket/add.go
  pkg/controller/backupentry/add.go
  pkg/controller/controlplane/add.go
  pkg/controller/dnsrecord/add.go
  pkg/controller/healthcheck/add.go
  pkg/controller/infrastructure/add.go
  pkg/controller/worker/add.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/openstack, size/xl
