Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2025-03, with the labels that each got.

#889 Drop support for Shoots with Kubernetes version <= 1.26
  README.md
  charts/gardener-extension-admission-openstack/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-admission-openstack/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-openstack/templates/poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  docs/operations/operations.md
  example/controller-registration.yaml
  hack/api-reference/api.json
  hack/api-reference/api.md
  hack/api-reference/config.json
  imagevector/images.yaml
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/l

#996 Pass worker pool priority to MachineDeployment during generation
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/xs

#943 Fix cloud profile machineImages validation
  pkg/admission/validator/cloudprofile.go
  pkg/admission/validator/namespacedcloudprofile.go
  pkg/apis/openstack/validation/cloudprofile.go
  pkg/apis/openstack/validation/cloudprofile_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/m

#951 Update gophercloud client to v2
  go.mod
  go.sum
  pkg/controller/bastion/actuator.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/bastion_suite_test.go
  pkg/controller/bastion/options.go
  pkg/controller/bastion/resourcesdefine.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/dnsrecord/actuator_test.go
  pkg/controller/infrastructure/configvalidator.go
  pkg/controller/infrastructure/configvalidator_test.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/access/networking_access.go
  pkg/controller/infrastructure/infraflow/access/retry.go
  pkg/controller/infrastructure/infraflow/delete.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/controller/infrastructure/infraflow/utils.go
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/controller/worker/machine_dependencies.go
  pkg/controller/worker/machine_dependencies_test.go
  pkg/controller/worker/server_groups.go
  pkg/internal/infrastructure/infrastucture.go
  pkg/internal/infrastructure/infrastucture_test.go
  pkg/openstack/client/client.go
  pkg/openstack/client/client_test.go
  pkg/openstack/client/compute.go
  pkg/openstack/client/dns.go
  pkg/openstack/client/images.go
  pkg/openstack/client/loadbalancing.go
  pkg/openstack/client/mocks/client_mocks.go
  pkg/openstack/client/networking.go
  pkg/openstack/client/sharedfilesystem.go
  pkg/openstack/client/swift.go
  pkg/openstack/client/types.go
  pkg/utils/utils.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xl

#997 Remove wildcard RBAC resources
  charts/gardener-extension-provider-openstack/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-openstack/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s, area/compliance

#1005 locate ipv4 for external fip in bastion controller
  pkg/controller/bastion/actuator_reconcile.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/openstack, size/xs

#994 Fix Deployment in Garden Runtime Cluster
  charts/gardener-extension-provider-openstack/templates/_helpers.tpl
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  charts/gardener-extension-provider-openstack/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-openstack/templates/rbac.yaml
  charts/gardener-extension-provider-openstack/templates/storageclass.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  example/controller-registration.yaml
Labels: area/delivery, kind/bug, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/s
