Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2025-07, with the labels that each got.

#1070 Add backupbucket integration test
  .ci/testruns/default/templates/testrun.yaml
  .gitignore
  .test-defs/backupbucket-test.yaml
  Makefile
  test/integration/backupbucket/backupbucket_suite_test.go
  test/integration/backupbucket/backupbucket_test.go
  test/integration/backupbucket/helper_test.go
Labels: kind/test, needs/ok-to-test, needs/review, needs/second-opinion, platform/openstack, size/xl, area/testing

#1090 migrate CICD-Pipeline to GitHub-Actions
  .ci/pipeline_definitions
  .github/actions/prepare-release/action.yaml
  .github/workflows/build.yaml
  .github/workflows/non-release.yaml
  .github/workflows/release.yaml
  .github/workflows/upgrade-dependencies.yaml
  .ocm/base-component.yaml
Labels: area/delivery, kind/technical-debt, kind/task, needs/ok-to-test, needs/review, needs/second-opinion, platform/openstack, size/l

#1114 swap defaults for flow
  pkg/webhook/infrastructure/mutator.go
  pkg/webhook/infrastructure/mutator_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/enhancement, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/s
