Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2025-01, with the labels that each got.

#948 ignore not found errors on resource deletion
  pkg/controller/infrastructure/infraflow/delete.go
  pkg/controller/infrastructure/infraflow/reconcile.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#952 Update dependencies
  example/20-crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_clusters.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/20-crd-resources.gardener.cloud_managedresources.yaml
  go.mod
  go.sum
Labels: area/open-source, kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/m

#954 Rename to `seedprovider` webhook
  cmd/gardener-extension-provider-openstack/app/app.go
  pkg/cmd/options.go
  pkg/webhook/seedprovider/add.go
  pkg/webhook/seedprovider/ensurer.go
  pkg/webhook/seedprovider/ensurer_test.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs

#958 properly handle multiple router external ips (including ipv6)
  hack/api-reference/api.md
  pkg/apis/openstack/types_infrastructure.go
  pkg/apis/openstack/v1alpha1/types_infrastructure.go
  pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/openstack/zz_generated.deepcopy.go
  pkg/controller/infrastructure/add.go
  pkg/controller/infrastructure/infraflow/access/networking_access.go
  pkg/controller/infrastructure/infraflow/context.go
  pkg/controller/infrastructure/infraflow/reconcile.go
  pkg/internal/infrastructure/infrastucture.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  pkg/utils/utils.go
  test/integration/infrastructure/infrastructure_test.go
Labels: needs/ok-to-test

#956 fix config validator for region in network client
  pkg/controller/infrastructure/configvalidator.go
  pkg/controller/infrastructure/configvalidator_test.go
Labels: area/robustness, kind/bug, needs/ok-to-test, platform/openstack, size/xs
