Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2025-05, with the labels that each got.

#1048 Update gardener/gardener to v1.118.0
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  charts/gardener-extension-provider-openstack/values.yaml
  cmd/gardener-extension-admission-openstack/app/app.go
  cmd/gardener-extension-provider-openstack/app/app.go
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/controller-registration.yaml
  go.mod
  go.sum
  pkg/controller/worker/add.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/m

#1042 Remove `podAntiAffinity` in favor of TSCs.
  charts/gardener-extension-provider-openstack/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/dev-productivity, area/high-availability, kind/cleanup, needs/ok-to-test, needs/rebase, needs/review, platform/openstack, size/xs

#1053 Purge unused Machine Controller Manager RBAC resources
  cmd/gardener-extension-provider-openstack/app/app.go
  cmd/gardener-extension-provider-openstack/app/migrations.go
Labels: area/security, kind/cleanup, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/s

#1055 Clean up leaked csi-snapshot-validation VerticalPodAutoscaler and PodDisruptionBudget
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, needs/review, platform/gcp, size/xs

#1049 Extend user errors
  pkg/apis/openstack/helper/error_codes.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/openstack, size/xs

#1060 Setting `internal server error` to the right KnownCodes group
  pkg/apis/openstack/helper/error_codes.go
Labels: area/ops-productivity, kind/bug, kind/post-mortem, needs/ok-to-test, platform/openstack, reviewed/lgtm, size/xs
