Repository gardener/gardener-extension-provider-openstack, pull requests merged in 2025-06, with the labels that each got.

#1054 [GEP-31] Vendor gardener/gardener v1.120 and adapt extension to support InPlace updates
  .ci/hack/component_descriptor
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/30-worker.yaml
  go.mod
  go.sum
  pkg/apis/openstack/validation/shoot.go
  pkg/apis/openstack/validation/shoot_test.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, area/delivery, area/open-source, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/l, area/scalability

#1081 Fix auth with ApplicationCredential Name
  pkg/openstack/client/client.go
Labels: area/quality, kind/regression, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1082 chore: upgrade gardener/gardener
  .ci/hack/component_descriptor
  .ci/hack/doc.go
  .ci/hack/prepare_release
  .ci/hack/set_dependency_version
  go.mod
  go.sum
  pkg/admission/validator/namespacedcloudprofile.go
  pkg/apis/openstack/validation/cloudprofile.go
  pkg/controller/healthcheck/add.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/openstack, reviewed/ok-to-test, reviewed/lgtm, size/m
